html
 head
  title|Login 
  style.
     form{
         display:flex;
         flex-direction:column;
         align-items:center;
     }
     input{
         height:50px;
         width:350px;
         margin:10px;
         font-size:1em;

     }  

 body
  h1(style={'text-align':'center','color':"green"})|Login
  form(action='/bank/login', method='POST')
    
       
      input(type='text', name='nm', value='',placeholder='enter isfc')
      
      input(type='text', name='pw', value='',placeholder='enter password')
      input(type='submit', value='Submit') 